<% provide(:title, 'About Us') %>

<div class="transbox">
	<div class="about">
	<h1>About Us</h1>
	</div>
		<p>
  		SFDate is made by students for students. Here on SFDate, if there is anything we all have in common, it's that
  		we are all Students at San Francisco State !!!. Meeting new people has never been 
  		this easy, the era of meeting complete strangers on those other dating sites is over. Here on SFDate, our goal is to provide students the ability to meet their soulmate at their own school, and not have to travel far to meet them. 
		</p>
</div>
<br>

<div class="user-transbox">
	<div class="user">
	</div>
	<div class="bio">
		<h5>Daniel Calvo</h5>
		<p>  Is a senior at SF State. Some of his hobbies include watching the Warriors and Sharks play, playing basketball, photography and staying infromed on current Apple technology.
			<p>
	</div>
</div>


<div class="user-transbox">
	<div class="user">
	</div>
	<div class="bio">
		<h5>Irwin Fuentes</h5>
		<p>thrdgsdgsdfgsdfgdf gsdfgds gdsgfd gfdg dg fdg d gfdg dfg dfgdfg fg dgdgf <p>
	</div>
</div>
<div class="user-transbox">
	<div class="user">
	</div>
	<div class="bio">
		<h5>Alten Poblet</h5>
		<p> Was born in Miami but raised in San Diego. He currently goes to SFSU and is finally about to graduate. He  <p>
	</div>
</div>
<div class="user-transbox">
	<div class="user" style="width:200px; height:-200px">
	</div>
	<div class="bio">
		<h5>Alula Beshu</h5>
		<p>thrdgsdgsdfgsdfgdf gsdfgds gdsgfd gfdg dg fdg d gfdg dfg dfgdfg fg dgdgf <p>
	</div>
</div>