<% provide(:title, 'Help') %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $("#nav_aboutus_btn").addClass("active");
            });
        </script>

        <div class="container">
            
            <div class="span12" id="maincontent">
                
  <h2><a id="SU" > <font color = black size="6">Need some assistance using the site?</font></a></h2>
  <font size="5"><center>Let us be your wingman.</center></font><br><br>



	<p><a href="#SU" ><font size="4">Signing Up</font></a>
    <br>
	<a href="#FM" ><font size="4">Finding Other Users</font></a>
    <br>
    <a href="#CE"> <font size="4">Creating an event</font></a></p><br><br>

<p>

</p>
<a id="SU" ><br><br></a>

<h3>Signing Up</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Click the register button in the header on the top right corner of the screen <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Enter your information<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Click "Create My Account <br>

</p>

<a id="FM" ><br><br></a>
<h3>Finding Other Users</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Go to Users Tab <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Search up some names<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Click on the people you wish to interact with<br>
</p>
<a id="FM" ><a id="CE" ><br><br></a>
<h3>Creating an Event</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Once logged in, go to the Calendar<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Figure out what date you want to have your event on<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Click that date and Create a title<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 
   Add Details<br><br><br>
</p>

	<a href="#Top" ><font size="4">Back to Top</font></a>




			
            </div>

        </div>